
*{
	margin:0;
	padding: 0;
}
body{
	font-family: 'EB Garamond', serif;
}


.menu{
	background-color: #FF69B4;
	width: 100%;
	font-size: 20px;
	display: flex;	
	text-align:center;

}


.menu li{
	border-right: 1px solid black;
	list-style: none;
	padding: 20px;
}

a{
	color: white;
	text-decoration: none;

}

.menu li:hover{
	background-color: #87CEFA;
}




